:host {
  #main-site-header {
    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: var(--ds-header-bg);

    &-container {
      min-height: var(--ds-header-height);
    }
  }

  img#header-logo {
    //height: var(--ds-header-logo-height);
        // Change this from the variable to a specific pixel value or rem
    height: 60px; 
    
    // Ensure width is auto to maintain aspect ratio (usually default, but good to be explicit)
    width: auto; 
    
    // Optional: Ensure it doesn't overflow if it gets too big
    max-width: 100%; 
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }
}
