// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

/*** FONT FAMILIES ***/

// Import the font (from a URL)
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');


// Configure Bootstrap to use this font (and list a number of backup fonts to use on various systems)
$font-family-sans-serif: 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


// $font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
//
// $gray-700: #495057 !default;  // Bootstrap $gray-700
// $gray-100: #f8f9fa !default;  //           $gray-100
//
// $blue:   #2B4E72 !default;
// $green:  #94BA65 !default;
// $cyan:   #006666 !default;
// $yellow: #ec9433 !default;
// $red:    #CF4444 !default;
// $dark:   darken($blue, 17%) !default;
//
// $primary: $blue !default;
// $secondary: $gray-700 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $dark !default;
//
// $link-color: $info !default;

// Override semantic colors here
$primary: #43515f; // Gray
$secondary: #495057; // As Bootstrap $gray-700
$success: #92c642; // Lime
$info: #1e6f90; // Light blue
$warning: #ec9433; // Orange
$danger: #cf4444; // Red
$light: #f8f9fa; // As Bootstrap $gray-100
$dark: #43515f; // Dark blue

// Add new semantic colors here (you don't need to add existing semantic colors)
@import '../../../styles/_variables.scss';
$theme-custom-semantic-colors: (
);
$theme-colors: map-merge($theme-colors, $theme-custom-semantic-colors);

/*** OTHER BOOTSTRAP VARIABLES ***/

$min-contrast-ratio: 2.06 !default;

$body-color: #343a40; // As Bootstrap $gray-800

$link-color: #1e6f90; // Blue green, as DSpace $info
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$table-accent-bg: #f8f9fa; // As Bootstrap $gray-100
$table-hover-bg: #ced4da; // As Bootstrap $gray-400

$navbar-dark-color: #fff;


/*** CUSTOM DSPACE VARIABLES ***/

$ds-home-news-link-color: #D2FC93;
$ds-header-navbar-border-bottom-color: #4dc9f6;

$ds-breadcrumb-link-color: #154E66 !default;
$ds-breadcrumb-link-active-color: #040D11 !default;